<header>
    <img src="assets/img/portfolio-profile.jpeg" alt="Luana Paes - Foto de Perfil" width="150px" height="150px"
        loading="eager">
    <h1>Luana Paes</h1>
</header>

<aside>
    <div class="container">
        <p>Dev Front-End</p>
        <p>Recife, Pernambuco, Brasil</p>
        <p>
            Sou estudante de Análise e Desenvolvimento de Sistemas.
            Estou constantemente envolvida em projetos para solidificar meus conhecimentos.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/lua-cv.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/luana-paes-0b7084238/" target="_blank"
                        class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px">

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5581985624853&text=Ol%C3%A1%20Luana,%20preciso%20de%20um%20job!"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (81) 98562-4853</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do E-mail" width="22px" height="24px">
            
                <figcaption>
                    <a href="mailto:luanafranca598@gmail.com"
                        target="_blank">
                        <strong>Envie um e-mail:</strong>
                        <p>luanafranca598&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>