.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: .5s;
    cursor: pointer;

    &.btn-primary, &.btn-secondary{
        padding: 10px;
        font-size: 16px;
        border-radius: 7px;
    }

    &:hover{
        color: var(--areia);
        background: var(--roxo);
        transition: all .4s ease-in;
    }
}