:root {
    --primary: #2fbf71;
    --primary-10: #21804d;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;

    --roxo: #3b234a;
    --roxo-05: #623a7b;
    --roxo-010: #78598a;

    --lilas: #523961;
    --lilas-010: #c3bbc9;

    --areia: #e7daea;
}